html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
/*header start*/
header {
  background-color: #f2f1fd;
}
.menu ul li a {
  font-size: 14px;
  color: #080746 !important;
  padding: 0 20px !important;
  transition: 1s;
}
.menu ul li a:hover {
  color: #fea71a !important;
}
/*header end*/
/*cases start*/
.custom_padding {
  padding: 150px 25px 80px 25px;
}
.custom_h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #706ad4;
}
.c_border {
  border-radius: 10px;
  border: 3px solid #fea71a;
}
.t_color {
  font-size: 14px;
  color: #6c69b0;
}
.coustom_margin1 {
  margin-left: 20px;
  border-radius: 20px;
  padding-left: 5px;
  color: #6100ff;
  font-size: 14px;
  border: 1px solid #6c69b0;
}
.coustom_margin2 {
  margin-left: 26px;
  border-radius: 20px;
  padding-left: 5px;
  color: #6100ff;
  font-size: 14px;
  border: 1px solid #6c69b0;
}
.coustom_margin3 {
  margin-left: 13px;
  border-radius: 20px;
  padding-left: 5px;
  color: #6100ff;
  font-size: 14px;
  border: 1px solid #6c69b0;
}
/*cases end*/
/*footer start*/
footer {
  background-color: #6c69b0;
  padding-top: 50px;
}
.coronawar {
}
.coronawar h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
.coronawar h3 span {
  color: #fea71a;
}
.coronawar p {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
}
.f_contact ul li a {
  font-weight: 300;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  transition: 1s;
}
.f_contact ul li a:hover {
  color: #fea71a;
}
.designed {
  background-color: #5a56af;
  padding: 20px 0 5px 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.designed h2 {
  font-weight: 300;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}
.designed h2 a {
  color: #fea71a;
  text-decoration: none;
  transition: 1s;
}
.designed h2 a:hover {
  color: #ffffff;
}
/*footer end*/

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #5a56af;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #5a56af;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #5a56af;
}